name: PHP code sniffer

on:
  push:
    branches:
      - master
  pull_request: null

jobs:
  codesniffer:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.1', '8.2', '8.3', '8.4', '8.5' ]

    name: PHP ${{ matrix.php }} code sniffer

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none # disable xdebug, pcov

      - name: Composer update
        run: composer update --no-progress --no-interaction

      - name: Install PHP code sniffer as dev dependency
        run:
          - composer config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer
          - composer require efabrica/coding-standard --dev

      - name: Code sniffer
        run: vendor/bin/phpcs src tests --standard="vendor/efabrica/coding-standard/eFabrica" -n
